.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.navbar-logo {
    display: flex;
    align-items: center;
}
.navbar-logo h2 {
    font-size: 14px;
    font-weight: 200;
    padding: 15px;
}
.navbar-logo img {
    width: 40px;
    height: auto;
}
.navbar-menu {
    display: flex;
    align-items: center;
}
.navbar-menu ul {
    display: flex;
    list-style: none;
}
.navbar-menu ul li {
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    transition: color 0.3s;
}
.navbar-menu ul li:hover {
    color: #f0a500;
}
.search-box {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}
.search-box::placeholder {
    color: #bbb;
}
.search-box:focus {
    border-color: #f0a500;
}

.nav-login-btn {
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .nav-login-btn:hover {
    background-color: rgb(255, 149, 0);
  }

@media (max-width: 1024px) {
    .navbar {
        padding: 10px 20px;
    }
    .navbar-menu ul li {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }
    .navbar-menu ul li {
        font-size: 12px;
    }
    .search-box {
        width: 150px;
    }
}
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-menu ul {
        flex-direction: column;
    }
    .search-box {
        width: 50%;
    }
}
